.project-box {
    width: 23rem;
    background-color: var(--white);
    color: var(--black);
    padding: 1rem;
    border-radius: 1rem;
    transition: border ease-in-out 100ms;
    border: .7rem solid var(--white);
}
.project-box:hover {
    border: .7rem solid var(--light-blue);
}

.box-glass {
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.199);
    border-radius: 1.6rem;
    backdrop-filter: blur(.5rem);
}

.tool {
    padding: .5rem;
    padding-inline: .8rem;
    border: .1rem solid var(--black);
    border-radius: 1000rem;
}

.project-box img {
    border-radius: 1rem;
    box-shadow: .3rem .3rem 1rem rgba(0, 0, 0, 0.487);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 150ms;
}
.project-box img:hover {
    transform: scale(102%);
}

