.about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 1rem;
}

.portrait {
    position: relative;
    background-color: white;
    border-radius: 1rem;
    border: .5rem solid var(--light-blue);
    padding: 1rem;
    z-index: 1;
}
.portrait-before {
    position: relative;
    display: inline-block;
}
.portrait-before::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--light-blue);
    border-radius: 1rem;
    transform: translate(0.8rem, 0.8rem);
    transition: transform 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.218);
    z-index: 0;
}
.portrait-before:hover::before {
    transform: translate(1.3rem, 1.3rem);
}
.portrait img {
    background-color: black;
    border-radius: 1rem;
    height: 15rem;
    width: 16rem;
}

.pattern-bg::after {
    content: '';
    border-top: .5rem solid var(--dark-blue);
    border-bottom: .5rem solid var(--dark-blue);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0rem 0px 3rem .5rem rgba(0, 0, 0, 1);
    pointer-events: none;
}

.text-box {
    background-color: rgba(0, 0, 0, 0.296);
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
}

.info-card::before {
    content: '';
    z-index: -1;
    height: 32rem;
    width: 22rem;
    position: absolute;
    top: -.2rem;
    left: -.2rem;
    background-color: var(--light-blue);
    border-radius: 1rem;
    border: 1rem solid var(--light-blue);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.218);
}
.info-card:hover::before {
    top: .3rem;
    left: .3rem;
}
.info-card {
    cursor: pointer;
    position: relative;
    height: 32rem;
    width: 22rem;
    background-color: rgb(198, 198, 197);
    border-radius: 1rem;
    border: .5rem solid var(--light-blue);
}
.eduboxes {
    padding-inline: 5rem;
    box-shadow:
        3rem 0 3rem -3rem rgba(0, 0, 0, 0.5),
        -3rem 0 3rem -3rem rgba(0, 0, 0, 0.5);
}

.skill-box {
    padding: 1rem;
    padding-block: 2rem;
    box-shadow: .5rem .5rem 1.8rem .3rem rgba(0, 0, 0, 0.405);
    border-radius: 1rem;
    width: 26rem;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 500ms;
}
.skill-box:hover {
    box-shadow: .1rem .8rem 2rem 0rem rgba(0, 0, 0, 0.605);
    transform: scale(102%);
}
.skill-box li {
    margin-block: 0.5rem;
}

.card {
    cursor: pointer;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    height: 19rem;
    width: 13rem;
    background-color: #E41837;
    background: linear-gradient(0deg, #E41837 0%, #f6577a 100%);

    padding: .5rem;

    border-radius: .5rem;

    box-shadow: .2rem .5rem 2rem .1rem rgba(0, 0, 0, 0.447);
}

.york-logo {
    position: absolute;
    left: .5rem;
    filter: brightness(0) invert(1);
    height: 1.3rem;
}

.photo-mask {
    position: absolute;
    top: 4rem;
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    object-position: center 20%;
    background-color: white;
    border-radius: 1000rem;
    border: .1rem solid var(--black);
    z-index: 1;
    overflow: hidden;
}
.id-photo {
    transform: scale(1);
}

.building-bar {
    position: absolute;
    z-index: 0;
    inset: 0;
    top: 3rem;
    height: 4.5rem;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card span {
    position: absolute;
    top: 14.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: black 1px 1px 1px;
}
