@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-1 * var(--scroll-width)));
    }
}

.animate-scroll {
    animation: scroll var(--scroll-duration) linear infinite;
    will-change: transform;
}

.scroll-text {
    color: var(--white);
    font-family: "Bagel Fat One", system-ui;
    font-weight: 100;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
}

.scroll-text:hover {
    filter: drop-shadow(0px 0px 1rem 1rem black);
}