.landing-container {
    margin: 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 35rem;
}

h1 {
    font-family: "Bagel Fat One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.317);
}
h2 {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
hr {
    border: none;
    width: 100%;
    /* height: .2rem; */
    background-color: var(--light-blue);
}

.side-pattern {
    position: relative;
    height: 100%;
    width: 15%;
}
.side-pattern::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 9px 0px 25px 3px rgba(0, 0, 0, 0.598);
    pointer-events: none;
}
.side-pattern:first-of-type::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset -9px 0px 25px 3px rgba(0, 0, 0, 0.598);
    pointer-events: none;
}
.title-container {
    width: 70%;
    height: 100%;

    padding: 1rem;
}