@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
:root {
    
    --white: #D9D9D9;
    --background: #383232;
    --dark-blue: #264653;
    --light-blue: #2A9D8F;
    --light-yellow: #E9C46A;
    --dark-yellow: #E76F51;
    --black: #161515;


    background-color: var(--background);
    color: var(--white);
}
body {
    margin: 0px;
    margin-top: 5rem;
}
.bagel-fat-one {
    font-family: "Bagel Fat One", system-ui;
}
.jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
}


.rounded-yellow {
    position: relative;
    padding-inline: 1rem;
    padding-block: .4rem;
    border: .35rem solid var(--light-yellow);
    border-radius: 10000rem;

    user-select: none;

    color: var(--light-yellow);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;

    transition: ease-in-out;
    transition-duration: 300ms;

    cursor: pointer;

    transition: ease-in-out;
    transition-duration: 300ms;
}

.rounded-yellow:hover {
    background-color: var(--light-yellow);
    color: var(--dark-blue);
}
.rounded-yellow:active {
    transform: scale(95%);
}