.navbar-container {
    z-index: 1000;

    position: fixed;
    top:0;
    left:0;

    width: 100vw;
    height: 5rem;

    border-bottom: .5rem solid var(--light-blue);
}

.menu {
    font-size: 35px;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 300ms;
    cursor: pointer;
    user-select: none;
}
.menu:hover {
    transform: scale(110%);
}
.menu:active {
    transform: scale(95%);
}

.bar {
    background-color: rgba(218, 218, 218, 0.18);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-inline: 1.2rem;
    padding-right: 1.5rem;

    backdrop-filter: blur(50px);
}

.item-holder {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    width: 100%;
}

.chevron {
    pointer-events: auto;
    position: relative;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    transition: ease-in-out;
    transition-duration: 200ms;
    z-index: 1;
    filter: drop-shadow(0.08rem 0.08rem 0.08rem rgba(0, 0, 0, 0.494));
}
.chevron:hover {
    font-size: 25px;
}

.item {
    pointer-events: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.item p {
    pointer-events: auto;
    display: flex;
    position: relative;
    background: none;
    border: none;

    color: var(--white);
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.542);

    margin-inline: 1rem;
    
    user-select: none;
    cursor: pointer;
    align-items: center;
    
    transition: ease-in-out;
    transition-duration: 200ms;
    
    z-index: 1;
    
    font-size: .9rem;
}

.selected p {
    pointer-events: auto;
    font-size: 1rem;
    font-weight: 1000;
    padding: .4rem;
}

.pill {
    pointer-events: auto;
    transform-origin: center;
    position: absolute;
    inset: 0;
    background-color: var(--light-blue);
    border-radius: 999px;
    z-index: -1;
}